* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url('https://vulpestech.com.br/IMAGES/VT logo-Recuperado.jpg');
    background-size: cover;
    height: 80%;
    width: 100%;
}

h2{
    color: #D7CFFF;
}